@model Drinks.ViewModels.BeerIndexViewModel

@{
    ViewBag.Title = "List of Beers";
}


<table>
    @foreach (var beer in Model.Beers)
    {
        <tr>
            <td>ID: @beer.Id</td>
        </tr>
        <tr>
            <td>Name: @beer.Name</td>
        </tr>
        <tr>
            <td>Type: @beer.Type</td>
        </tr>
        <tr>
            <td><a asp-action="Details" asp-route-id="@beer.Id">Details</a></td>
        </tr>
    }
</table>
<a asp-action="Create">Add a beer to the list</a>